<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	{% include "staff/nav.html" %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-12 pt-3 pb-5" style="text-align: center;">
				 	 <h1>{{ user.first_name }} {{ user.last_name }}</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6" style="text-align: left;">
					<h4>August</h4>
				</div>
				<div class="col-md-6" style="text-align: right;">
					<h5>Total Monthly:
					   <td>00:02:27</td>
				   </h5>
				</div>
			</div>

		    <div class="row">
				<div class="col-md-6" style ="text-align: left; font-size:0.8em; padding-top: 0.1em;">
				    <table class="table table-bordered table-sm">
			            <thead>
			                <tr>
			                    <th scope="col"> Check In</td>
			                    <th scope="col">Check Out</td>
			                    <th scope="col">Total</td>
			                </tr>
			            </thead>

			            <tbody>
			                <tr>
			                    <td scope="row">9:00</td>
			                    <td>17:00</td>
			                    <td>8:00</td>

			                </tr>
			                <tr>
			                    <td scope="row">9:00</td>
			                    <td>17:00</td>
			                    <td>8:00</td>

			                </tr>
			                <tr>
			                    <td scope="row">9:00</td>
			                    <td>17:00</td>
			                    <td>8:00</td>
			                </tr>
			            </tbody>
			        </table>
			    </div>

			    <div class = "col-md-6" style = "text-align:left; font-size: 0.8em;">

				    <table class="table table-bordered table-sm">
			            <thead>
			                <tr>
			                    <th scope="col">Day</td>
			                    <th scope="col">Total Worked</td>
			                </tr>
			            </thead>

			            <tbody>
			                <tr>
			                    <td scope="row">30/08/2019</td>
			                    <td>00:02:27</td>


			                </tr>
			                <tr>
			                    <td scope="row">30/08/2019</td>
			                    <td>00:02:27</td>
			                </tr>
			                <tr>
			                    <td scope="row">30/08/2019</td>
			                    <td>00:02:27</td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
	  		</div>
		</div>
	</div>

	{{ records }}




</body>
