{% extends "users/base.html" %}

{% block head_content %}

	<title>NED Clocking System</title>

{% endblock head_content %}

{% block container %}

	{% if form.errors %}
		<p class="alert alert-danger">
			Your username and password don't match. Please try again.
		</p>

	{% endif %}


	<form action="{% url "users:login" %}" method="post">
		{% csrf_token %}

		<div class="form-group">
			<input type="text" class="form-control" name="username"
				placeholder="Username">
		</div>

		<div class="form-group">
			<input type="password" class="form-control" name="password"
				placeholder="Password">
		</div>

		<button class="btn btn-primary btn-block mt-5" type="submit">
			Sign in!
		</button>
	</form>

{% endblock container %}
